<footer class="footer">
  <div class="grid-container">
    <div class="grid-x grid-margin-x footer__item">
      <div class="medium-3 cell">
        <a href="#" class="is-active"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="../images/logo.png" alt="ITArverne"></a>
        <p>© 2018 - <%= title %></p>
      </div>
      <div class="medium-2 cell">
        <div ><a href="#activities" >Activités</a></div>
        <div ><a href="#references" >Références</a></div>
        <div ><a href="#values" >Valeurs</a></div>                
        <div ><a href="#david" >Qui suis-je ?</a></div>                
        <div ><a href="#" data-name="david.rigaudie" data-domain="itarverne" data-tld="com" onclick="window.location.href = 'mailto:' + this.dataset.name + '@' + this.dataset.domain + '.' + this.dataset.tld">Contact</a></div>                
        <div ><a href="http://rigaudie.fr" target="_blank" rel="noopener">Blog</a></div>                
        <div ><a href="cgv.html">CGV</a></div>
      </div> 
      <div class="medium-3 cell">
        <% if (putFacebook) { %>
        <div id="js-fb-like" class="footer__facebook"></div>
        <div id="js-fb-share" class="footer__facebook"></div>
        <% } %>
        <% if (putTwitter) { %>
        <div id="js-twitter-follow" class="footer__twitter-follow"></div>
        <div id="js-twitter-share" class="footer__twitter-share"></div>
        <% } %>

        <% if (putLinkedin) { %>
          <div id="linkedin-share" class="footer__linkedin">
            <script type="IN/Share" data-url="<%= url %>" data-counter="right"></script>
          </div>
        <% } %>
      </div>
      <div class="medium-4 cell">
        <% if (putFacebook) { %>
        <div class="footer__contact">
          <a href="https://www.facebook.com/itarverne" target="_blank" class="is-active" rel="noopener">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="../images/facebook_bleu.png" alt="Facebook">
            Facebook
          </a>
        </div>
        <% } %>
        <% if (putTwitter) { %>
        <div class="footer__contact">
          <a href="<%= urlTwitter %>" target="_blank" class="is-active" rel="noopener">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="../images/twitter_bleu.png" alt="Twitter">
            Twitter
          </a>
        </div>
        <% } %>
        <% if (putLinkedin) { %>
        <div class="footer__contact">
          <a href="<%= urlLinkedin %>" target="_blank" class="is-active" rel="noopener">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="../images/linkedin_bleu.png" alt="LinkedIn">
            LinkedIn
          </a>
        </div>
        <% } %>
        <div class="footer__contact">
          <a href="https://github.com/itarverne" target="_blank" class="is-active" rel="noopener">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="../images/github_bleu.png" alt="github">
            Github
          </a>
        </div>
        <div class="footer__contact">
          <a data-name="david.rigaudie" data-domain="itarverne" data-tld="com" href="#" class="casper" onclick="window.location.href = 'mailto:' + this.dataset.name + '@' + this.dataset.domain + '.' + this.dataset.tld">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="../images/enveloppe_bleu.png" alt="mail">
          </a>
        </div>
        <div class="footer__contact">
          <a data-number="06.44.28.80.72" href="#" class="lady-brown" onclick="window.location.href = 'tel:' + this.dataset.number">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="../images/tel_bleu.png" alt="téléphone">
          </a>
        </div>
      </div>
    </div>
    <div class="grid-x grid-margin-x">
      <div class="cell"><span>Build with ❤ by </span> <a href="https://github.com/itarverne/generator-itarverne-landing-page" target="_blank" rel="noopener">ITArverne</a> 2018</div>
    </div>
  </div>
</footer>