<header class="header g-blur-header" path-header-img-large="">
  <div class="callout header__cookies hide">
    <h5 data-t>cookie.header</h5>
    <p data-t>cookie.content<a href="cookies.html" class="header__cookies--more" data-t>cookie.more</a></p>
    <a href="#" class="button header__cookies--validate" id="js-cookie__validate" data-t>cookie.bt-valid</a>
  </div>
  
  <nav id="top">
    <div class="header__menu-responsive show-for-small-only" data-responsive-toggle="js-menu-responsive">
      <button class="menu-icon" type="button" data-toggle="js-menu-responsive"></button>
      <div class="header__menu-responsive-text" data-t>header.menu</div>
    </div>
    <ul id="js-menu-responsive" class="menu">
        <li><a href="#" class="hide-for-small-only"><img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="http://via.placeholder.com/200x82?text=Logo" alt="<%= appName %>"></a></li>
        <li>
          <a href="#activities" class="header__title" data-t>header.link-activities</a>
        </li>
        <li>
          <a href="#references" class="header__title" data-t>header.link-references</a>
          <div class="g-pipe hide-for-small-only"></div>
        </li>
        <li>
          <a href="#values" class="header__title" data-t>header.link-values</a>
          <div class="g-pipe hide-for-small-only"></div>
        </li>
        <li>
          <a href="#labs" class="header__title" data-t>header.link-labs</a>
          <div class="g-pipe hide-for-small-only"></div>
        </li>
        <li>
          <a href="#david" class="header__title" data-t>header.link-david</a>
          <div class="g-pipe hide-for-small-only"></div>
        </li>
        <li>
          <a href="http://rigaudie.fr" target="_blank" class="header__title" rel="noopener" data-t>header.link-blog</a>
          <div class="g-pipe hide-for-small-only"></div>
        </li>
    </ul>
    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="http://via.placeholder.com/200x82?text=Logo" class="show-for-small-only header__mobile" alt="<%= appName %>">
  </nav>
    
</header>