@import 'settings';
@import 'foundation';

/** Set CSS variables **/
$path-header-img: '../images/entete.png';
$path-header-moutain: '../images/white-mountain.png';
$color-greenblue-dark: rgb(130, 175, 196);
$color-greenblue-light: rgba(130, 175, 196, 0.68);
$color-blue-dark: rgb(0, 101, 146);

@mixin style-header{
  font-family: 'quicksand-bold';
  color: white;
}

@mixin style-title-bold{
  font-family: 'quicksand-bold';
  color: $color-blue-dark;
}

@mixin style-title-std{
  font-family: 'quicksand-book';
  color: $color-blue-dark;
}

@mixin style-text{
  font-family: 'consola';
  color: $color-blue-dark;
}

@mixin anim-photo-left{
  animation-name: translate-image-left;
  animation-duration: 2s;
}

@mixin anim-photo-right{
  animation-name: translate-image-right;
  animation-duration: 2s;
}

@mixin transform($val) {
  -webkit-transform: $val;
  -moz-transform: $val;
  -o-transform: $val;
  -ms-transform: $val;
  transform: $val;
}

/***************/
/** Font-face **/
/***************/
@font-face {
  font-family: 'consola';
  src: url('../fonts/consola.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'quicksand-bold';
  src: url('../fonts/quicksand-bold.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'quicksand-book';
  src: url('../fonts/quicksand-book.ttf');
  font-weight: normal;
  font-style: normal;
}
/*************/
/** General **/
/*************/
.g-corner{
  height: 25px;
  border-top: 10px solid $color-greenblue-light;
  border-left: 15px solid transparent;
  margin-left: -15px;
}

.g-responsive-image-prio{
  max-width: 100% !important;
  height: auto !important;
}

.activities__wheel1{
  position: absolute;
  right: 0;
  margin-top: 120px;
}
.activities__wheel2{
  position: absolute;
  right: 0;
  margin-top: 120px;
}
.activities__wheel3{
  position: absolute;
  left: 0;
  margin-top: 120px;
}
.activities__wheel4{
  position: absolute;
  left: 0;
  margin-top: 120px;
}
/************/
/** Header **/
/************/
.header{
  margin:0;
  background: url($path-header-img) no-repeat;
  background-size: 100vw 100vh;
  height: 100vh;
  padding-top: 2%;
  vertical-align: middle;
}

.header__title {
  @include style-header;
}

.menu li a {
  line-height: 100px;
}

/***************/
/**  Content  **/
/***************/
.activities{
  background-color: $color-greenblue-light;
  margin-top: 5px;
}
.references__logo{
  background: linear-gradient(0deg, white 50%, $color-greenblue-dark 50%);
  text-align: center;
}
.references__customer{
  text-align: center;
}
.references__customer_name{
  margin-top: 20px;
}
.references__customer_url{
  margin-top: 20px;
}
.references__title{
  background-color: $color-greenblue-dark;
  margin-top: 5px;
} 
.content__title{
  background: url($path-header-moutain) no-repeat;
  background-size: 180px 60px;
  background-position: 0px 20px;
  padding-left: 100px;
  margin-bottom: 0;
  height: 100px;
  @include style-title-bold;
}
.activities__app-title, 
.activities__site-title, 
.activities__pack-title, 
.activities__training-title{
  @include style-title-bold;
  color: white;
}
.activities__app-subtitle, 
.activities__site-subtitle, 
.activities__pack-subtitle, 
.activities__training-subtitle{
  @include style-title-std;
  color: white;
}
.activities__app, 
.activities__site, 
.activities__pack, 
.activities__training{
  @include style-text;
  color: white;
}

.activities__image-left{
  @include anim-photo-left;
}
.activities__image-right{
  @include anim-photo-right;
}

.references__customer{
  background-color: white;
}

.references__logo-customer{
  overflow: hidden;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  width: 200px;
  height: 200px;
}

.content__quote-euro{
  font-family: 'quicksand-bold';
  color: white;
  background-color: $color-greenblue-light;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.content__quote{
  font-family: 'quicksand-bold';
  color: white;
  background-color: $color-blue-dark;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.content__footer{
  margin-top: 20px;
}
.content__footer-bt{
  display: flex; /* To delete whitespace beetween 2 span inside */
}

.footer {
	background-color: gray;
}

.footer__item{
	@include xy-gutters($gutters:200px, $gutter-type:padding, $gutter-position: top bottom);
}

.casper:after {
  content: attr(data-name) "@" attr(data-domain) "." attr(data-tld); 
}

.lady-brown:after {
  content: attr(data-number) ; 
}


/***************/
/** Animation **/
/***************/
@keyframes translate-image-left {
    from { 
      @include transform(translateX(-500px));
    }
    to { 
      @include transform('translateX(0px)'); 
    }
}

@keyframes translate-image-right {
    from { 
      @include transform(translateX(500px));
    }
    to { 
      @include transform('translateX(0px)'); 
    }
}