@import 'settings';
@import 'foundation';

/** Set CSS variables **/
$path-header-img: '../images/entete.png';
$color-bloc-dark: rgb(130, 175, 196);
$color-bloc-light: rgba(130, 175, 196, 0.68);
$color-title: rgb(0, 101, 146);

/***************/
/** Font-face **/
/***************/
@font-face {
  font-family: 'consola';
  src: url('../fonts/onsola.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'quicksand-bold';
  src: url('../fonts/quicksand-bold.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'quicksand-book';
  src: url('../fonts/quicksand-book.ttf');
  font-weight: normal;
  font-style: normal;
}

/************/
/** Header **/
/************/
.header{
  margin:0;
  background: url($path-header-img) no-repeat;
  background-size: 100vw 100vh;
  height: 100vh;
  padding-top: 2%;
  vertical-align: middle;
}

.header__title { 
  font-family: 'quicksand-bold';
  color: $color-title;
}

.menu li a {
  line-height: 100px;
}

.footer {
	background-color: gray;
}

.footer__item{
	@include xy-gutters($gutters:200px, $gutter-type:padding, $gutter-position: top bottom);
}

.casper:after {
  content: attr(data-name) "@" attr(data-domain) "." attr(data-tld); 
}

.lady-brown:after {
  content: attr(data-number) ; 
}