@import 'settings';
@import 'foundation';

$path-header-img: '../images/entete.png';

@font-face {
  font-family: 'consola';
  src: url('../fonts/onsola.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'quicksand-bold';
  src: url('../fonts/quicksand-bold.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'quicksand-book';
  src: url('../fonts/quicksand-book.ttf');
  font-weight: normal;
  font-style: normal;
}

.g-font-title { font-family: 'quicksand-bold'; }

.header{
  margin:0;
  background: url($path-header-img) no-repeat;
  background-size: 100vw 100vh;
  height: 100vh;
  padding-top: 2%;
  vertical-align: middle;
}

.menu li a {
  line-height: 100px;
}

.footer {
	background-color: gray;
}

.footer__item{
	@include xy-gutters($gutters:200px, $gutter-type:padding, $gutter-position: top bottom);
}

.casper:after {
  content: attr(data-name) "@" attr(data-domain) "." attr(data-tld); 
}

.lady-brown:after {
  content: attr(data-number) ; 
}